<!--The content below is only a placeholder and can be replaced.-->
<header style="background-color: pink;height: 30px;">
</header> 
<div class="container">
  <h2>{{email}}</h2>

  <app-header-image></app-header-image>
  <h2>Number of records {{results.length}}</h2>
  <div style="width: 60%;">
  <form>
    <div class="form-group">
      <label for="num">Enter Num:</label>
      <input [(ngModel)]="pnum"  type="text" class="form-control"  placeholder="Enter Num" name="num1">
    </div>
  
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>

    <button type="button" (click)="calFact();"  class="btn btn-primary btn-lg">Calculate Fact</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-danger btn-lg">Clear</button>
  </form>
   <h3>Result is {{result}}</h3>
    <hr/>
   <h2>Factorial</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>SNO</th>
        <th>Num</th>
        <th>Result</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let temp of results; let i = index">
        <td>{{i+1}}</td>
        <td>{{temp.num}}</td>
        <td>{{temp.result}}</td>
        <td>
           <a href="javascipt:" (click)="deleteFact(temp);">  
          <img src="assets/img/delete.jpg" style="height: 40px;"/>
        </a>
        </td>
      </tr>    
     
    </tbody>
  </table>

  </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
